<!doctype html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename = 'css/sandstone.min.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{config.application.title}}</title>

  </head>
  <body>

      {% block body %}{% endblock %}

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="{{ url_for('static', filename = 'js/jquery-2.2.4.min.js') }}"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
  </body>
</html>
