<!doctype html>
<html lang=en>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script> src="<script src='/static/jquery-2.2.4.min.js'>\x3C/script>"</script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename = 'js/jquery-2.2.4.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>

    <!--File for the dynamic search bar-->
    <script  src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <!-- Include library for barcode generation -->
    <script src="{{ url_for('static', filename = 'js/JsBarcode.code128.min.js') }}"></script> 

    {% include "snips/css.html" %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{config.application.title}}</title>

  </head>
  <body>

    {% block body %}{% endblock %}

    <footer class = footer>
      <div class="container">
      <p>Any suggestions about the sytem? <a href="mailto:support@bereacollege.onmicrosoft.com">Email Us.</a></p>
      </div>
    </footer>
  </body>

</html>
