<!--This is the navigation bar that is found at the top of the page-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav"> 
    {% for menuItem in config['faMenu'] %}
      {% if menuItem['link'] == url_for(request.endpoint) %}
        <li class="active">
          <a href="{{menuItem['link']}}">{{menuItem['title']}}</a>
        </li>
      {% else %}
        <li><a href="{{menuItem['link']}}">{{menuItem['title']}}</a></li>
      {% endif %}  
    {% endfor %} 
    </ul>
  </div>
</nav>