{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success col-md-4 col-md-offset-4" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{{message}}</strong>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="clearfix"></div>
<script src="/static/js/local/createBarcode.js"></script>
<div class="col-sm-offset-3">
  <h3>Add a new Container of <a href="../../ViewChemical/{{chemInfo.chemId}}/" >{{chemInfo.name}}</a></h3>
</div>
<div class="form col-sm-6 col-sm-offset-3">
  <form name="addCont" method="post" action="../../../AddContainer/{{chemInfo.chemId}}/">
    <input type="hidden" id="chemId" name="chemId" value="{{chemInfo.chemId}}"/>
      {%  for group in contConfig['containerInformation']  %}
      {# {% if group.id == capacityUnit onselect = "PickUnit()" %} #} {# Not sure how this line is supposed to be used.... #}
        {%  if group.type != 'select'  %}
          {% if group.special == 'readonly' %}
            <div class="form-group row">
              <label for="{{group.id}}" class="col-sm-6">{{group.name}}</label>
              <div class="col-sm-6">
                <input class="form-control" type="{{group.type}}" name="{{group.id}}" id="{{group.id}}" value="" {{group.special}}/>
                <svg id="barcode"></svg>
                {# Creates barcode based on last barcode, and date. returns barcode as string. #}
                <script>
                  var bar = createBarcode('{{group.id}}', '{{lastCont}}');
                  JsBarcode('#barcode', bar, {
                              height:30,
                              fontSize: 15
                              });
                </script>
              </div>
            </div>
          {% else %}
            <div class="form-group row">
              <label for="{{group.id}}" class="col-sm-6">{{group.name}}</label>
              <div class="col-sm-6">
              <input class="form-control" type="{{group.type}}" name="{{group.id}}" id="{{group.id}}" placeholder="{{group.placeholder}}" min='1' max='10000' step="any" {{group.special}}/>
              </div>
            </div>
          {% endif %}
        {%  else  %}
          {% if group.id != 'storageId' %}
            <div class="form-group row">
              <label for="{{  group['name'] }}" class="col-sm-6">{{  group['name']  }}:</label>
              <div class="col-sm-6">
                <select id="{{group['id']}}" name="{{group['id']}}" class="form-control" {{group.special}}>
                  <option selected disabled value="">Select One</option>
                  {%  for unit in group['options']  %}
                  <option value="{{  unit  }}">{{  unit  }}</option>
                  {%  endfor  %}
                </select> 
              </div>
            </div>
          {% else %}
            <div class="form-group row">
              <label for="{{group.name}}" class="col-sm-6">{{group.name}}:</label>
                <div class="col-sm-6">
                  <select id="{{group.id}}" name="{{group.id}}" class="form-control" {{group.special}}>
                    <option selected disabled value="">Select One</option>
                    {% for building in buildingList %}
                      <optgroup label="{{building.name}} Building"></optgroup> {# Break dropdown up by building, but user cannot select a building #}
                      {% for storage in storageList %}
                        {% if storage.roomId.floorId.buildId.bId == building.bId %}
                          {% if storage.roomId.name == storage.name %} {# Checking if storage name and room name are the same. #}
                            <option value="{{storage.sId}}">Room {{storage.roomId.name}}</option>
                          {% else %}
                            <option value="{{storage.sId}}">Room {{storage.roomId.name}} ({{storage.name}})</option>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    {%endfor%}
                  </select>
                </div>
              </div>
          {% endif %}
        {%  endif  %}
      {%  endfor  %}
  <button type="submit" class="btn btn-primary" id="submitCont">Submit</button>
  </form>
</div>