<div class="col-sm-offset-3"><h3>Add a new Chemical</h3></div>
<div class="form col-sm-offset-3 col-sm-4">
  <form name="addChem" method="post">
    {%  for group in chemConfig['addChemInputs']  %}
      <div class="form-group row">
        <label for="{{group['id']}}" class="col-sm-4">{{group['name']}}</label>
        <div class="col-sm-8">
          {% if group['special'] == "required" %}
            {% if group['id'] == "sdsLink" %}
            <div class="input-group-addon">https://</div>
            {% endif %}
            <input id="{{group['id']}}" name="{{group['id']}}" type="{{group['type']}}" step="any" placeholder="{{group['placeholder']}}" {{group['special']}} class="form-control">
          {% else %}
            <input id="{{group['id']}}" name="{{group['id']}}" type="{{group['type']}}" step="any" placeholder="{{group['placeholder']}}" {{group['special']}} class="form-control">
          {% endif %}
          {#{%  if group['addon'] is defined  %}
          <span class="input-group-addon">{{group['addon']}}</span>
          {%  endif  %}
          Need to get this working...#}
          {%  if group['small'] is defined  %}
          <small class="text-muted">{{group['small']}}</small>
          {%  endif  %}
        </div>
      </div>
    {%endfor%}
   
    {%  for group in chemConfig['addChemDropdowns']  %}
    <div class="form-group row">
      <label for="{{  group['name'] }}" class="col-sm-4">{{  group['name']  }}:</label>
      <div class="col-sm-8">
        <select id="{{  group['id']  }}" name="{{  group['id']  }}" class="form-control" required>
          <option selected disabled value="">Select One</option>
          {%  for selection in group['selections']  %}
          <option value="{{  selection  }}">{{  selection  }}</option>
          {%  endfor  %}
        </select>
      </div>
    </div>
    {%  endfor  %}
    
    <div class="form-group row">
      <label for="nfpaDiamond" class="col-sm-4">NFPA 704:</label>
      <div class="col-sm-8">
        {%for division in chemConfig['NFPAdiamond']%}
          <label for="{{division['section']}}">{{division['section']}}</label>
          <select id="{{division['id']}}" name="{{  division['id']  }}" class="form-control" required="true">
            <option value="" selected disabled>Select One</option>
          {%for selection in division['selections']%}
            <option value="{{selection}}">{{selection}}</option>
          {%endfor%}
          </select>
        {%endfor%}
      </div>
    </div>
    
    <div class="form-group row">
      <label>Other Hazards</label>
      {%  for check in chemConfig['addChemChecks']  %}
        <div class="checkbox col-sm-12">
          <label>
            <input type="checkbox" name="{{check['name']}}" value="{{check['value']}}"/>
            {{check['name']}}
          </label>
        </div>
      {%  endfor  %}
    </div>
    
    <div class="form-group row">
      <label for="pictograms" class="row">Please select the appropriate hazard pictogram.</label>
      <div class="checkbox col-sm-11">
        {%for hazardPict in chemConfig['pictograms']%}
          <label for="{{hazardPict['title']}}"></label>
          <input type="checkbox" name="hazardPict" id="{{hazardPict['title']}}" value="{{hazardPict['title']}}" class="hiddenRadio">
            <img src="{{hazardPict['pict']}}" id="{{hazardPict['title']}}" alt="{{hazardPict['alt']}}" class="hazardRadio"  onclick="pictSelect({{hazardPict['title']}})"></img>
          </input>
        {%endfor%}
      </div>
    </div>
    
  <input class="btn btn-default btn" id="addChemSubmit" type="submit" value="Submit">
  </form>
</div>
<script src="/static/js/local/pictSelect.js"></script>