{####### Add Location Modal #######}
<div class="modal fade" id="add{{location}}Modal{{attribute}}" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-labeledby="add{{location}}Modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add a new {{location}}</h4>
            </div>
            <div class="modal-body text-center">
                <form name="add{{location}}{{attribute}}" method="post">
                    <input type="hidden" value="{{location}}" name="location">
                    <input type="hidden" value="add" name="action">
                    {% for group in locationConfig[location]['add'] %}
                        {% if group.name == "foreignKey" %}
                            <input type="{{group.type}}" value="{{attribute}}" name="{{group.id}}">
                        {% else %}
                            <div class="form-group col-xs-8 col-xs-offset-2">
                                <label for="{{group.id}}" class="col-form-label">
                                    {{group.name}}:
                                </label>
                                <input class="form-control" type="{{group.type}}" id="{{group.id}}" name="{{group.id}}" required='{{group.required}}'>
                            </div>
                        {% endif %}
                    {% endfor %}
                </form>
            <span class="label label-danger hidden" id="error{{location}}{{attribute}}">Please fill out all fields</span>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button onclick="valid(add{{location}}{{attribute}}, error{{location}}{{attribute}})" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function valid(form, error) {
        if (form.checkValidity() == false) {
            error.classList.remove("hidden");
        } else {
            form.submit();
        }
    }
</script>