<h1>{{chemInfo.name}} Information</h1>

<div class="col-md-8 col-md-offset-2">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#containers">Containers</a></li>
        <li><a data-toggle="tab" href="#info">Information</a></li>
        <li><a data-toggle="tab" href="#hazards">Hazards</a></li>
        <li><a data="tab" href="../../../AddContainer/{{chemInfo.name}}/{{chemInfo.chemId}}/">Add a new Container</a></li>
        {# example code for tabs found here: http://jsfiddle.net/xfw8t/12/ #}
    </ul>
    
    <div class="tab-content">
        <div id="containers" class="tab-pane fade in active">
          <h3>Containers</h3>
          <table class="table">
            <thead>
              <tr>
                {%  for field in contConfig['containerInformation']  %}
                  {%  if "Unit" not in field.name  %}
                    <td>{{field.name}}</td>
                  {%  endif  %}
                {%  endfor  %}
              </tr>
            </thead>
            {%  for container in containers  %}
              {% if container.checkedOut != True %}
                <tr style="cursor: pointer;" onclick="window.location.href = '../../../CheckOut/{{chemInfo.chemId}}/{{container.conId}}/'";>
              {% else %}
                <tr class="danger">
              {% endif %}
                {%  for field in contConfig['containerInformation']  %}
                  {%  set attribute = field.id  %}
                    {%  if attribute != "capacityUnit" and attribute != "currentQuantityUnit" %}
                      {%  if attribute == "capacity" or attribute == "currentQuantity" %}
                        <td>{{container[attribute]}} {{container[attribute + "Unit"]}}</td>
                      {% elif attribute == "storageId"  %}
                        {% if container[attribute].roomId is defined %}
                          <td>{{container[attribute].roomId.floorId.buildId.name}} {{container[attribute].roomId.name}}</td>
                        {% else %}
                          <td>{{container.roomId.floorId.buildId.name}} {{container.roomId.name}}</td>
                        {% endif %}
                      {%  else  %}
                        <td>{{container[attribute]}}</td>
                      {%  endif  %}
                    {%  endif  %}
                {%  endfor  %}
              </tr>
            {%  endfor  %}
          </table>
        </div>
        
        <div id="info" class="tab-pane fade">
          <h3>Information</h3>
          {% for field in chemConfig['addChemInputs'] %}
            {% set attribute = field.name %}
              {% if attribute == "Safety Data Sheet Link" %}
              {% endif %}
              {# if attribute is a temperature field #}
                {# Show "degrees Fahrenheit" #}
            {{attribute}}: {{chemInfo[field.id]}}</br>
          {% endfor %}
        </div>
        
        <div id="hazards" class="tab-pane fade">
          <h3>Hazards</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>

    </div>
</div>
