<div class="col-sm-offset-3"><h3>Check In</h3></div>
<div class="container-fluid" style="float:left">
    <form name="checkIn" class="form-inline">
        <div class="form-group col-sm-2">
            <label class="label-control" for="barcodeId">Barcode: </label>
                <input class="form-control" type="text" id="barcodeId" name="barcodeId" required onchange="moarForm()" autofocus>
        </div>
        {% for group in checkInConfig['inputs'] %}
            <div class="form-group col-sm-2">
                <label class="label-control" for="{{group.id}}">{{group.title}}</label>
                    <input class="form-control" type="{{group.type}}" id="{{group.id}}" name="{{group.id}}" {{group.special}}>
            </div>
        {% endfor %}
    </form>
</div>
</div>