<div class="container">
  <form name="checkIn">
    <div class="form-group row">
      <label for="name" class="col-sm-2">Name:</label>
      <div class="col-sm-10">
        <input id="name" required="true" type="text" placeholder="Chemical Name" name="name">
      </div>
    </div>
    <div class="form-group row">
      <label for="barcode" class="col-sm-2">Barcode:</label>
      <div class="col-sm-10">
        <input id="barcode" name="barcode" required="true" type="number" placeholder="Chemical Barcode"> <!--Needs to auto populate the barcode-->
      </div>
    </div>
    <div class="form-group row">
      <label for="lastroom" class="col-sm-2">Last Room:</label>
      <div class="col-sm-10">
        <input id="lastRoom" name="lastRoom" required="true" type="text" placeholder="Chemical's last Room">
      </div>
    </div>
    <div class="form-group row">
      <label for="newQuantity" class="col-sm-2">New Quantity:</label>
      <div class="col-sm-10">
        <input id="newQuantity" name="newQuantity"  required="true" type="text" placeholder="Chemical's new Quanity">
      </div>
    </div>
    <div class="form-group row">
      <label for="newroom" class="col-sm-2">New Room:</label>
      <div class="col-sm-10">
        <input id="newroom" name="newroom" required="true" type="text" placeholder="Chemical's new Room">
      </div>
    </div>
    <button class="btn btn-primary btn-lg" id="submitForm" type="button" onclick="CheckInModal('name','barcode','lastRoom','newQuantity','newroom')">Submit</button>
    <head>

    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Check In Report</h4>
      </div>
      <div class="modal-body">
      <h5> Review Chemical Information</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Edit</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  </form>        
</div>
<script src="/static/js/local/Checkin.js"></script>