
<div class="col-sm-offset-3"><h3>Check In</h3></div>
    <div class="container-fluid" style="float:left">
        <form name="checkIn" class="form-inline">
            <div class="form-group">
                <label class="label-control" for="barcodeId">Barcode: </label>
                    <input class="form-control" type="text" id="barcodeId" name="barcodeId" required oninput="checkBar()" autofocus> {# This field is automatically selected on page load. When barcode is entered, checkBar() will get container's info #}
            </div>
            {% for group in checkInConfig['inputs'] %}
                {% if group.autoPop == "true" %} {# These are the fields that checkBar will fill, they are not editable, and are helpful for the user to see #}
                    <div class="form-group">
                        <label class="label-control" for="{{group.id}}">{{group.title}}</label>
                            <input class="form-control d" type="{{group.type}}" id="{{group.id}}" name="{{group.id}}" readonly>
                    </div>
                {% else %} {# These are fields that the user will add info. They are disabled at first, but once a valid barcode is entered, checkBar() enables them #}
                    <div class="form-group">
                        <label class="label-control" for="{{group.id}}">{{group.title}}</label>
                            <input class="form-control d" type="{{group.type}}" id="{{group.id}}" name="{{group.id}}" {{group.special}} disabled>
                    </div>
                {% endif %}
            {% endfor %}
        </form>
    </div>
</div>

<script src="/static/js/local/changeForm.js"></script>