<script src="/static/js/local/chemFile.js"></script>
<link href="{{ url_for('static', filename = 'css/chemTable.css') }}" rel="stylesheet">
<div class="container">
  <div class ="container-fluid">
      <h1>View All Chemicals</h1>
  </div>
    <div class = "container-fluid">
        <table class= "table" id = "chemtable" style="cursor: pointer;">
            <thead>
                  <tr>
                    <th>Name</th>
                    <th>CAS Number</th>
                    <th class="nosort">Color Code</th>
                    <th class="nosort">In Stock</th>
                    <th>Hazards</th>
                    <th>Location</th>
                    <th class="Barcodes">Barcodes</th>
                  </tr>
            </thead>
            {% for container in containers %}
                {% if container.chemId.remove == False %}
                   <tr onclick="cookieSaveAndRedirect('../ViewChemical/{{container.chemId.chemId}}/');"> {# The whole row is a link to the correct chemical page #}
                        <td>{{container.chemId.name}}</td>
                        <td>{{container.chemId.casNum}}</td>
                        {% if config.hazards[container.chemId.primaryHazard] is defined %}
                            <td>{{config.hazards[container.chemId.primaryHazard].hazardColor}}</td>
                        {% else %}
                            <td>Not Available</td>
                        {% endif %}
                        <td>{{contDict[container.chemId.name] | length}}</td>
                        <td>{{container.chemId.primaryHazard}}</td>
                        <td>{{container.storageId.roomId.floorId.buildId.name}}-{{container.storageId.roomId.name}}</td>
                        <td>
                            {% for container in contDict[container.chemId.name] %}
                                {{container.barcodeId}}
                            {% endfor %}
                        </td>
                    </tr>
                {%endif%}
            {%endfor%}
            <script>
            $(document).ready(createTable());

            </script>
        </table>
    </div>
</div>
