
<h1> View All Chemicals</h1>
<div class="col-md-4 col-md-offset-4" id = "chemical"> <!-- Centered Search bar using offset rows -->
   
</div>
<div class = "container-fluid">
    <table class= "table" id = "chemtable" style="cursor: pointer;">
        <thead>
              <tr>
                <th>Name</th>
                <th>CAS Number</th>
                <th>Color Code</th>
                <th>In Stock</th>
              </tr>
        </thead>
        {% for chemical in chemicals %}
            {% if chemical.remove == False %}
            {% set chemName = quote(chemical.name) %}
            <tr onclick="window.location.href = '../ViewChemical/{{chemName}}/{{chemical.chemId}}/';">
                <td>{{chemical.name}}</td>
                <td>{{chemical.casNum}}</td>
                <td>{{config['hazards'][chemical.primaryHazard]}}</td>
                <td>{{contDict[chemical.name]}}</td>

            </tr>
            {%endif%}
        {%endfor%}
      
        <!--<script src="/static/js/local/search.js"></script> -->
        
        <script>
            $(document).ready(function(){
            $('#chemtable').DataTable();
            });
            
        </script>    
        
</div>

