<div class="container">
  <div class ="container-fluid">
      <h1>View All Chemicals</h1>
  </div>
    <div class = "container-fluid">
        <table class= "table" id = "chemtable" style="cursor: pointer;">
            <thead>
                  <tr>
                    <th>Name</th>
                    <th>CAS Number</th>
                    <th class="nosort">Color Code</th>
                    <th class="nosort">In Stock</th>
                    <th class="Barcodes">Barcodes</th>
                  </tr>
            </thead>
            {% for chemical in chemicals %}
                {% if chemical.remove == False %}
                   <tr onclick="window.location.href = '../ViewChemical/{{chemical.chemId}}/';"> {# The whole row is a link to the correct chemical page #}
                        <td>{{chemical.name}}</td>
                        <td>{{chemical.casNum}}</td>
                        {% if config.hazards[chemical.primaryHazard] is defined %}
                            <td>{{config.hazards[chemical.primaryHazard].hazardColor}}</td>
                        {% else %}
                            <td>Not Available</td>
                        {% endif %}
                        <td>{{contDict[chemical.name] | length}}</td>
                        <td>
                            {% for container in contDict[chemical.name] %}
                                {{container.barcodeId}}
                            {% endfor %}
                        </td>
                    </tr>
                {%endif%}
            {%endfor%}
            <script>
            $(document).ready(function(){
                $('#chemtable').DataTable({
                    "columnDefs": [
                        {
                            "targets": 'Barcodes',
                            "visible": false
                        },
                        {
                            "targets": 'nosort',
                            "searchable": false
                        }
                    ],
                    "language": {
                        searchPlaceholder: "Barcode, CAS Number, or Name"
                    }
                });
            });

            </script>
        </table>
    </div>
</div>

