
<h1 align = "center"><a href="../../../ViewChemical/{{chemical.name}}/{{chemical.chemId}}/" >{{chemical.name}}</a></h1>

<div class="col-md-8 col-md-offset-2">
    <ul class="nav nav-tabs">
        {% if container.checkedOut == False %}
        <li class="active"><a data-toggle="tab" href="#checkout">Check Out this Container</a></li>
        <li><a data-toggle="tab" href="#history">History of Container</a></li>
        {% else %}
        <li class="active"><a data-toggle="tab" href="#history">History of Container</a></li>
        {% endif %}
        {% if container.currentQuantity == 0 %}
          <li><a data-toggle="tab" href="#dispose">Dispose of Container</a></li>
        {% endif %}
        {# example code for tabs found here: http://jsfiddle.net/xfw8t/12/ #}
    </ul>
     <div class="tab-content">
       {% if container.checkedOut == False %} {# Only render if container is not checked out. Will not show up in page source if container has been checked out #}
        <div id="checkout" class="tab-pane fade in active">
          <h3>Check Out</h3>
            <div class="form">

              <form name="checkOutForm" method = "POST" action = "/ma/ContainerInfo/{{chemical.chemId}}/{{container.conId}}/">
                <label for="name" class="col-sm-2">Name:</label>
                  <input class="form-control" type = "text" name ="chemname" value = "{{chemical.name}}" readonly>
                <label for ="barcode" class="col-sm-2">Barcode:</label>
                  <input class="form-control" type = "number" name ="barcode" value = "{{container.barcodeId}}" readonly>
                <label for = "quantity" class = "col-sm-2"> Quantity:</label>
                  <input class="form-control" type= "varchar" name ="quantity" value = "{{container.currentQuantity}} {{container.currentQuantityUnit}} " readonly>
                <label for = "location" class = "col-sm-2"> Location:</label>
                {% if container.storageId.roomId.name != container.storageId.name %}
                  <input class="form-control" type = "varchar" name = "location" value = "{{container.storageId.roomId.floorId.buildId.name}} {{container.storageId.roomId.name}}  {{container.storageId.name}}" readonly>
                {% else %}
                  <input class="form-control" type = "varchar" name = "location" value = "{{container.storageId.roomId.floorId.buildId.name}} {{container.storageId.roomId.name}}" readonly>
                {% endif %}  
                <label for = "Class Name" class = "col-sm-2"> Class:</label>
                  <input class="form-control" id="class" required="true" type="text" placeholder="Class Name" name="class">
                <label for = "storage" class = "col-sm-2"> Storage Location:</label>
                  <select id="storage" name="storageId" class="form-control" required>
                    <option selected disabled value="">Select One</option>
                    {% for building in buildingList %}
                      <optgroup label="{{building.name}} Building"></optgroup>
                      {% for storage in storageList %}
                        {% if storage.roomId.floorId.buildId.bId == building.bId %}
                          {% if storage.roomId.name == storage.name %}
                            <option value="{{storage.sId}}">Room {{storage.roomId.name}}</option>
                          {% else %}
                            <option value="{{storage.sId}}">Room {{storage.roomId.name}} ({{storage.name}})</option>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    {%endfor%}
                  </select>
                <label for = "Professor" class = "col-sm-2"> Person Responsible:</label>
                  <input class="form-control" id = "profname" required="true" type="text" placeholder="Name of person responsible" name="forProf">
                <label for="checkout"></label>
                <button id="checkout" type="submit" class="btn btn-primary">Check Out Chemical</button>
              </form>
            </div>
        </div>
        {% endif %}
        {% if container.checkedOut == False %} {# If container is checked out, then only show the history tab #}
        <div id="history" class="tab-pane fade">
        {% else %}
        <div id="history" class="tab-pane fade in active">
        {% endif %}
          <h3>History</h3>
          <div class = "container-fluid">
            <table class = "table" id = "chemhistory" style = "cursor: pointer;">
              <thead>
                <tr>
                  <th>Name:</th>
                  <th>Barcode:</th>
                  <th>Current Location:</th>
                  <th>Last Location:</th>
                  <th>Current Amount :</th>
                  <th>Last Amount:</th>
                </tr>
              </thead>
              <td>{{chemical.name}}</td>
              <td>{{container.barcodeId}}</td>
              <td>{{container.storageId.roomId.floorId.buildId.name}} {{container.storageId.roomId.name}}  {{container.storageId.name}}</td>
              <td> dummy</td>
              <td>{{container.currentQuantity}} {{container.currentQuantityUnit}}</td>
              {#<td>{{history.pastQuantity}} {{history.pastUnit}}</td>#}
            </table>
          </div>
        </div>
        
        {% if container.currentQuantity == 0 %} {# To prevent this part from showing in page source when the container is not able to be disposed of yet. #}
        <div id="dispose" class="tab-pane fade">
          <h3>Dispose of Container</h3>
          <form method="POST">
            <input class="btn btn-primary" type="submit" name="dispose" value="Dispose of this Container">
          </form>
        </div>
        {% endif %}
    </div>
      
      
      
    
      

     
    
     
     
     
     
     
     
     
