
<h1 align = "center"> {{chemical.name}}</h1>

<div class="col-md-8 col-md-offset-2">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#checkout">CheckOut this Container</a></li>
        <li><a data-toggle="tab" href="#history">History of Container</a></li>
        {% if container.currentQuantity == 0 %}
          <li><a data-toggle="tab" href="#dispose">Dispose of Container</a></li>
        {% endif %}
        {# example code for tabs found here: http://jsfiddle.net/xfw8t/12/ #}
    </ul>
     <div class="tab-content">
        <div id="checkout" class="tab-pane fade in active">
          <h3>Check Out</h3>
            <div class="form">

              <form name="checkOutForm" method = "POST" action = "/ma/ContainerInfo/{{chemical.chemId}}/{{container.conId}}/">

                <label for="name" class="col-sm-2">Name:</label>
                  <input class="form-control" type = "text" name ="chemname" value = "{{chemical.name}}" readonly>
                <label for ="barcode" class="col-sm-2">Barcode:</label>
                  <input class="form-control" type = "number" name ="barcode" value = "{{container.barcodeId}}" readonly>
                <label for = "quantity" class = "col-sm-2"> Quantity:</label>
                  <input class="form-control" type= "varchar" name ="quantity" value = "{{container.currentQuantity}} {{container.currentQuantityUnit}} " readonly>
                <label for = "location" class = "col-sm-2"> Location:</label>
                  <input class="form-control" type = "varchar" name = "location" value = "{{container.storageId.roomId.floorId.buildId.name}} {{container.storageId.roomId.name}}  {{container.storageId.name}}" readonly>
                <label for = "Class Name" class = "col-sm-2"> Class:</label>
                  <input class="form-control" id="class" required="true" type="text" placeholder="Class Name" name="class">
                <label for = "Building" class = "col-sm-2"> Building:</label>
                  <input class="form-control" id="building" required="true" type="text" placeholder="Class Building" name="building">
                <label for = "Room" class = "col-sm-2"> Room:</label>
                  <input class="form-control" type ="number" id="room" required="true" type="text" placeholder="Room Number" name="room">
                <label for = "Professor" class = "col-sm-2"> Professor's Name:</label>
                  <input class="form-control" id = "profname" required="true" type="text" placeholder="Professors Name" name="profname">
                <button type="submit" class="btn btn-primary">CheckOut Chemical</button>
              </form>
            </div>
        </div>
        
        <div id="history" class="tab-pane fade">
          <h3>History</h3>
        </div>
        
        <div id="dispose" class="tab-pane fade">
          <h3>Dispose of Container</h3>
          <form method="POST">
            <input class="btn btn-primary" type="submit" name="dispose" value="Dispose of this Container">
          </form>
          {# disposalDate #}
        </div>
    </div>
      
      
      
    
      

     
    
     
     
     
     
     
     
     
