{####### Remove Building Modal #######}
<div class="modal fade" id="remove{{location}}{{attribute}}" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-labeledby="remove{{location}}{{attribute}}Label">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="remove{{location}}{{attribute}}Label">Delete {{location}}: {{item.name}}</h4>
            </div>
            <div class="modal-body text-center">
                {{ locationConfig[location]['delete']['message'] }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                <a class="btn btn-danger" href="#">Yes</a>
            </div>
        </div>
    </div>
</div>

{####### Edit Building Modal #######}
<div class="modal fade" id="edit{{location}}{{attribute}}" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-labeledby="edit{{location}}{{attribute}}Label">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="edit{{location}}{{attribute}}Label">Edit {{location}}: {{item.name}}</h4>
            </div>
            <div class="modal-body text-center">
                <form class="form" name="edit{{location}}{{attribute}}" method="post" action="#">
                    <input type="hidden" name="location" value="{{location}}">
                    <input type="hidden" name="id" value="{{attribute}}">
                    {% for group in locationConfig[location]['edit'] %}
                        {% if group.type != "radio" %}
                            <label class="col-sm-4 col-form-label" for="{{group.id}}">{{group.name}}</label>
                            <input id="{{group.id}}" class="form-control" name="{{group.id}}" type="{{group.type}}" value="{{item[group.id]}}">
                        {% else %}
                            NO
                        {% endif %}
                    {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Save</button>
                </form>
                <a class="btn btn-danger" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>