<div class="container">
    <div class="panel-group" id="buildingAccordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            {% for building in buildings %}
            {% set location = "Building" %}
            {% set attribute = building.bId %}
            {% set name = building.name %}
            {% include "snips/locationModals.html" %}
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#buildingAccordion" href="#{{building.bId}}" aria-expanded="true" aria-controls="{{building.bId}}">
                        {{building.name}}
                    </a>
                    <a class="glyphLink" data-toggle="modal" data-target="#remove{{location}}{{building.bId}}" aria-hidden="true">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                    <a class="glyphLink" data-toggle="modal" data-target="#edit{{location}}{{building.bId}}" aria-hidden="true">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </h4>
            </div>
            <div id="{{building.bId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{building.bId}}">
                <div class="panel-body">
                    <button title="Add a floor to the {{building.name}} Building" type="button" class="btn btn-success btn-xs addLink">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add Floor
                    </button>
                    {# First Nested Accordion Begins (Floors) #}
                    <div class="panel-group" id="floorAccordion{{building.bId}}" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            {% for floor in floors %}
                                {% if floor.buildId.bId == building.bId %}
                                {% set location = "Floor" %}
                                {% set attribute = floor.fId %}
                                {% set name = floor.floorNum %}
                                {% include "snips/locationModals.html" %}
                                    <div class="panel-heading" role="tab">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#floorAccordion{{building.bId}}" href="#{{floor.floorNum}}{{floor.fId}}" aria-expanded="true" aria-controls="{{floor.floorNum}}{{floor.fId}}">
                                                Floor: {{floor.floorNum}}
                                            </a>
                                            <a class="glyphLink" data-toggle="modal" data-target="#remove{{location}}{{floor.fId}}">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                            <a class="glyphLink" data-toggle="modal" data-target="#edit{{location}}{{floor.fId}}">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="{{floor.floorNum}}{{floor.fId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{floor.floorNum}}{{floor.fId}}">
                                        <div class="panel-body">
                                            <button title="Add a Room to floor: {{floor.floorNum}}" type="button" class="btn btn-success btn-xs addLink">
                                                <span class="glyphicon glyphicon-plus"></span>
                                                Add Room
                                            </button>
                                            {# Second Nested Accordion Begins (Rooms) #}
                                            <div class="panel-group" id="roomAccordian{{floor.fId}}" role="tablist" aria-mulitselectable="true">
                                                <div class="panel panel-default">
                                                    {% for room in rooms %}
                                                        {% if room.floorId.fId == floor.fId %}                                                        
                                                        {% set location = "Room" %}
                                                        {% set attribute = room.rId %}
                                                        {% set name = room.name %}
                                                        {% include "snips/locationModals.html"%}
                                                            <div class="panel-heading" role="tab">
                                                                <h4 class="panel-title">
                                                                    <a role="button" data-toggle="collapse" data-parent="#roomAccordian{{floor.fId}}" href="#{{room.name}}{{room.rId}}" aria-expanded="true" aria-controls="{{room.name}}{{room.rId}}">
                                                                        Room: {{room.name}}
                                                                    </a> 
                                                                    <a class="glyphLink" data-toggle="modal" data-target="#remove{{location}}{{room.rId}}">
                                                                        <span class="glyphicon glyphicon-trash"></span>
                                                                    </a>
                                                                    <a class="glyphLink" data-toggle="modal" data-target="#edit{{location}}{{room.rId}}">
                                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                                    </a>
                                                                </h4>
                                                            </div>
                                                            <div id="{{room.name}}{{room.rId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{room.name}}{{room.rId}}">
                                                                <div class="panel-body">
                                                                    <button type="button" class="btn btn-success btn-xs addLink">
                                                                        <span title="Add a storage location to room {{room.name}}" class="glyphicon glyphicon-plus"></span>
                                                                        Add Storage Location
                                                                    </button>
                                                                    {# Third Nested Accordian Begins (Storages) #}
                                                                    <div class="panel-group" id="storageAccordian{{room.rId}}" role="tablist" aria-multiselectable="true">
                                                                        <div class="panel panel-default">
                                                                            {% for storage in storages %}
                                                                                {% if storage.roomId.rId == room.rId %}
                                                                                {% set location = "Storage" %}
                                                                                {% set name = storage.name %}
                                                                                {% set attribute = storage.sId %}
                                                                                {% include "snips/locationModals.html" %}
                                                                                    <div class="panel-heading" role="tab">
                                                                                        <h4 class="panel-title">
                                                                                            {{storage.name}}
                                                                                        </h4>
                                                                                        <a title="Remove Storage Location" class="glyphLink" data-toggle="modal" data-target="#remove{{location}}{{storage.sId}}">
                                                                                            <span class="glyphicon glyphicon-trash"></span>
                                                                                        </a>
                                                                                        <a title="Edit Storage Location" class="glyphLink" data-toggle="modal" data-target="#edit{{location}}{{storage.sId}}">
                                                                                            <span class="glyphicon glyphicon-pencil"></span>
                                                                                        </a>
                                                                                    </div>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                    {# Third Nested Accordian Ends (Storages) #}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            {# Second Nested Accordian Ends (Rooms) #}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {# First Nested Accordion Ends (Floors) #}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>