<div clss="container">
    <h1>Migrate Container</h1>
    <form name="searchBcode" method="post" class="form-group">
        <label class="label-control" for="barcodeID">Barcode: </label>
        <input class="form-control" type="text" id="barcodeID" name = "barcodeID" required>
    </form>

    {% if alreadyMoved %} {#If chemical has already been moved#}
      <p>Container {{container.barcodeId}} of {{container.chemId.name}} is already in the system<p>

    {%elif container %} {#If chemical has not been moved#}
      <p>Not is system but belongs in {{container.Id.NameSorted}}</p>

    {% else %}
    <div>
      <p>Chemical is not in the system. Would you like to add it?<p>
    {% endif %}

</div>  
{#
    {{location}}
    
     {% for loc in location%}
     {% for key in locdict %}
         <h>{{loc[key]}}</h>
         {% endfor %} 
         {% endfor %}
         #}
