<div clss="container">
    <h1>Migrate Container</h1>
    <form name="searchBcode" id="searchBcode" method="post" class="form-group">
        <label class="label-control" for="barcodeID">Barcode: </label>
        <input type="hidden" name="formName" value="searchBcode"/>
        <input class="form-control" type="text" id="barcodeID" name = "barcodeID" required>
    </form>
    
    {% if state == 0 %}
    <p>The container {{container.barcodeId}} of {{container.chemId.name}} is already in the system</p>
    {% elif state == 1 %}
      <p>Need to add container {{inputBar}} to '{{chemInfo.name}}' in BCCIS</p>
      {% include 'snips/addContainer.html' %}
    {% elif state == 2 %}
      {% include 'snips/AddChemical.html' %}
      <p>Need to add both Container {{inputBar}} and Chemical {{container.NameRaw.Id}} to BCCIS </p>
    {% elif state == 3 %}
      <p>Container does not seem to exist</p>
    {% else %}
      <p>Error</p>
    {% endif %}

</div>  
{#
    {{location}}
    
     {% for loc in location%}
     {% for key in locdict %}
         <h>{{loc[key]}}</h>
         {% endfor %} 
         {% endfor %}
         #}
