<div clss="container">
    <h1>Migrate Chemical</h1>
    <form name="searchBcode" method="post" class="form-group">
        <label class="label-control" for="barcodeID">Barcode: </label>
        <input class="form-control" type="text" id="barcodeID" name = "barcodeID" required>
    </form>
    <p>{{container.Id.NameSorted}}</p>


</div>  
{#
    {{location}}
    
     {% for loc in location%}
     {% for key in locdict %}
         <h>{{loc[key]}}</h>
         {% endfor %} 
         {% endfor %}
         #}
